{% extends "base.html.twig" %}

{% block title %}Copyright{% endblock %}


{% block body %}

<h1 class="my-3">COPYRIGHTS</h1>
<p class="my-3">Le site internet, sa structure générale, ainsi que les textes, l'image de la page d'accueil et tout ce
    qui a été
    écrit dans le cadre d'une histoire (personnages, scènes, etc) sont la propriété de Trévor Sénant. Toute
    représentation totale ou partielle de ce site sans l'autorisation préalable de l'exploitant du site est prohibée.
</p>
<p>La loi incrimine au titre du délit de contrefaçon toute reproduction, représentation ou diffusion, par quelque moyen
    que ce soit, d'une oeuvre de l'esprit en violation des droits d'auteurs, tels qu'ils sont définis et réglementés par
    la loi (CPI, art L.335-3)</p>

{% endblock %}