{% extends "base.html.twig" %}

{% block title %}Informations légales{% endblock %}


{% block body %}

<h1 class="my-3">INFORMATIONS LEGALES</h1>
<h3>PROPRIETE ET CONCEPTION DU SITE</h3>
<p class="my-3">
    Le présent site est la propriété de Trévor Sénant. La conception et développement du site ont été réalisés par
    Trévor Sénant.
</p>
<h3>HEBERGEMENT</h3>
<p>Tutu'Story est hébergé par Heroku.</p>
<h3>DONNEES NOMINATIVES</h3>
<p>En application de la Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux Fichiers et aux Libertés, vous
    disposez des droits d'oppositions (art 26), d'accès (art 34 à 38) et de rectification (art 36) des données vous
    concernant. Ainsi, vous pouvez nous contacter pour que soient rectifiées, complétées, mises à jour ou effacées les
    informations vous concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte et
    l'utilisation, la communication ou la conservation est interdite. Les informations qui vous concernent sont
    uniquement destinées à "Tutu'Story". Il n'y a aucune transmission d'information à des tiers.</p>

<p>Pour d'éventuelles questions par rapport à ce qui est mentionné plus haut, utilisez le contact suivant :</p>
<p>trevor.senant@gmail.com</p>

{% endblock %}