{% extends "base.html.twig" %}

{% block title %}Admin Form Objets{% endblock %}

{% block body %}
<div class="bigBox">
    <div class="columnBox">
        <h1 class="redText">Consignes</h1>
        <div class="boxText">
            <p>Il est strictement <span class="redText">interdit</span> de supprimer ou de changer le sens de l'objet.
            </p>
            <p>Le rôle de l'administrateur sera de gérer les potentielles erreurs d'écritures sans passer par la base de
                données, et uniquement cela.</p>
        </div>
    </div>
    <div class="contentBox">
        <div class="loginForm">

            <h1 class="text-center">Modification d'un objet</h1>

            {{form_start(formItem)}}
            <div class="formBox">

                {{ form_row(formItem.id) }}
                {{ form_row(formItem.name, {
                    label : "Nom"
                }) }}

                <button type="submit" class="mixGradient shadows">Modifier</button>

            </div>
        </div>
        {{form_end(formItem)}}
    </div>
</div>
</div>
{% endblock %}