
{% block body %}


<div class="boxText text-center">
    <h1 class="mb-4">Oups ! Vous n'avez pas l'autorisation d'accéder à ce contenu.</h1>
    <p>Contactez votre administrateur principal en cas de besoin.</p>
    <p>Retournez en arrière ou bien utilisez le bouton ci-dessous pour retourner à l'accueil.</p>
</div>
<div class="buttonBox"><a href="{{path('app_story')}}" class="mixGradient button shadows">Retour à l'accueil</a></div>


{% endblock %}